<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="POSBank.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <POSBank.Properties.Settings>
            <setting name="SCMD_DataEdit" serializeAs="String">
                <value />
            </setting>
            <setting name="NumberOfDevicesEdit" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DeviceNumberEdit1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SelectDeviceEdit" serializeAs="String">
                <value>I:\</value>
            </setting>
            <setting name="SP_Port1Edit" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="SP_Port2Edit" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="SP_Port3Edit" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="VolumeEdit" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MS_I1" serializeAs="String">
                <value />
            </setting>
            <setting name="Port" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CompanyPOS" serializeAs="String">
                <value>سایان کارت</value>
            </setting>
            <setting name="ir_kish_SerialNO" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ir_kish_TerminalID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ir_kish_ReceiptionID" serializeAs="String">
                <value>0</value>
            </setting>
        </POSBank.Properties.Settings>
    </userSettings>
</configuration>